__pycache__/
.env
.venv/
data/exports/
data/news/**/*.json
!data/news/.gitkeep
!data/news/cache/.gitkeep
logs/
*.log
.python-version
.DS_Store
.codebuddy
.vscode
uv.lock
node_modules
runtime_config.json
.idea

# Docker
docker-compose.override.yml
